* {
  margin: 0;
  padding: 0;
}

.head {
  margin-top: 20px;
  margin-left: 20px;
}

body {
  font-family: sans-serif;
  text-transform: uppercase;
}

.number {
  font-weight: bold;
  font-size: 37px;
  width: 30px;
  background-color: aliceblue;
  text-align: center;
}

.btn {
  background: none;
  padding: 10px;
  border: 2px solid black;
}

.guess {
  width: 35px;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
}

